extends layout

block content
  h1.has-text-weight-semibold.is-size-2.has-text-centered.mb-4.mt-4 Profile

  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-two-thirds-tablet.is-offset-2-tablet.is-10-desktop.is-offset-1-desktop
      .box
        h2.has-text-weight-semibold.is-size-3.has-text-centered.mb-4.mt-4 Profile
        pre !{ profile }

  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-two-thirds-tablet.is-offset-2-tablet.is-10-desktop.is-offset-1-desktop
      .box
        h2.has-text-weight-semibold.is-size-3.has-text-centered.mb-4.mt-4 Cookies
        pre !{ cookies }

  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-two-thirds-tablet.is-offset-2-tablet.is-10-desktop.is-offset-1-desktop
      .box
        h2.has-text-weight-semibold.is-size-3.has-text-centered.mb-4.mt-4 Session
        pre !{ session }

  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-two-thirds-tablet.is-offset-2-tablet.is-10-desktop.is-offset-1-desktop
      .box
        h2.has-text-weight-semibold.is-size-3.has-text-centered.mb-4.mt-4 Headers
        pre !{ headers }
