extends layout

block content
  h1#signup-title.has-text-weight-semibold.is-size-2.has-text-centered Sign up with web3

  ul#selectChain.has-text-centered.mt-5
    li.mb-4
      button#enableEthereum.button.is-large(type='button') Sign up with Ethereum
    li.mb-4
      button#enableTezos.button.is-large(type='button') Sign up with Tezos
    li
      button#enableSolana.button.is-large(type='button') Sign up with Solana

  #connectChain.is-hidden
    if error
      p.
      #{ error }

    form(action=action, method='POST', style='display: none')
      input(type='hidden', name='_csrf', value=csrfToken)
      input#challenge(type='hidden', name='challenge', value=challenge)
      div
        label(for='address') Address
        input#address(name='address', type='text')
      div
        label(for='ens') ENS
        input#ens(name='ens', type='text')
      div
        label(for='email') Email
        input#email(name='email', type='email')
      div
        label(for='twitter') Twitter
        input#twitter(name='twitter', type='text')
      div
        label(for='url') URL
        input#url(name='url', type='text')
      div 
        label(for='signature') Signature
        input#signature(name='signature', type='text')

      input#accept(type='submit', name='submit', value='Sign up')

  script(type='module', src='/js/pages/signup.js').
