extends layout

block content
  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-8-tablet.is-offset-2-tablet.is-6-desktop.is-offset-3-desktop
      .box
        h1#signup-title.has-text-weight-semibold.is-size-2.has-text-centered.mb-6 Sign up with web3

        ul#selectChain.has-text-centered.mt-5
          li.mb-4
            button#enableEthereum.button.is-large(type='button') Sign up with Ethereum
            p#ethereumError.is-hidden No MetaMask detected
          li.mb-4
            button#enableTezos.button.is-large(type='button') Sign up with Tezos
          li
            button#enableSolana.button.is-large(type='button') Sign up with Solana

        #connectChain.is-hidden.mt-5
          #profile.has-text-centered
            h2#profileTitle.is-size-3.mb-5(style='work-break: break-word')
            h3#profileSubtitle.is-size-5.mb-5(style='work-break: break-word')
            .is-flex.is-justify-content-space-between.px-4
              #profileUrl.is-hidden.p-4
              #profileTwitter.is-hidden.p-4
              #profileEmail.is-hidden.p-4

          if error
            p.
            #{ error }

          form#signupForm(action=action, method='POST')
            input(type='hidden', name='_csrf', value=csrfToken)
            input#challenge(type='hidden', name='challenge', value=challenge)
            input#address(name='address', type='hidden')
            input#signature(name='signature', type='hidden')

            #waitingForSignature.is-hidden.mt-4.has-text-centered Waiting for signature from MetaMask

            .has-text-centered.mt-4.is-hidden
              button.button.m-4(type='submit') Sign up

        script(type='module', src='/js/pages/signup.js').
